<ion-content padding>
  <ion-card class="userDetail-card">
    <ion-card-content>
      <div class="userDetail-container">
        <ion-buttons slot="start">
          <ion-back-button class="back-button" defaultHref="/register"></ion-back-button>
        </ion-buttons>
        <img src="assets/images/ShareWay_Logo.png" alt="App Logo" class="app-logo">
        <!-- Input boxes -->
        <ion-label class="detailsText">Please enter details</ion-label>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-input type="text" [(ngModel)]="gender"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Course Department</ion-label>
          <ion-input type="text" [(ngModel)]="courseDepartment"></ion-input>
        </ion-item>
        <!--Container for bottom buttons -->
        <div class="button-container">
          <ion-button expand="full" (click)="goToApplyForDriverPage()">{{ applyForDriverText }}</ion-button>
          <ion-button expand="full" (click)="goToHomePage()">Finish</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>