<ion-content padding>
  <ion-card class="userDetail-card">
    <ion-card-content>
      <div class="userDetail-container">
        <img src="assets/images/ShareWay_Logo.png" alt="App Logo" class="app-logo">
        <ion-label class="detailsText">Please enter details</ion-label>
        <!-- Input boxes -->
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [clearInput]="true" label="Date" placeholder="Enter Date Of Birth" type="Date"  [(ngModel)]="dob"></ion-input>
        </ion-item>
        
        <!--Gender-->
        <ion-item>
          <ion-label position="floating">Gender</ion-label>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select [(ngModel)]="gender" [value]="selectedGender" aria-label="Gender" interface="popover" placeholder="Select an option">
              <!--NOTE TO SELF: WILL NEED TO SOMEHOW REPLACE OPTIONS BELOW WITH ONES FROM DATABASE-->
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">Female</ion-select-option>
              <ion-select-option value="other">Other</ion-select-option>
              <ion-select-option value="preferNotToSay">Prefer Not To Say</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        
        <!--Course Department-->
        <ion-item>
          <ion-label position="floating">Course Department</ion-label>
          <ion-input type="text" [(ngModel)]="courseDepartment"></ion-input>
        </ion-item>
        <!--Dropdown for Personal Traits-->
        <ion-item>
          <ion-label position="floating">Personal Traits</ion-label>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select [value]="selectedTraits" (ionChange)="limitSelectionOfTraits($event)" [multiple]="true" aria-label="Trait" interface="popover" placeholder="Select 3 Traits">
              <!--NOTE TO SELF: WILL NEED TO SOMEHOW REPLACE OPTIONS BELOW WITH ONES FROM DATABASE-->
              <ion-select-option value="a">Adventurous</ion-select-option>
              <ion-select-option value="c">Curious</ion-select-option>
              <ion-select-option value="e">Empathetic</ion-select-option>
              <ion-select-option value="f">Friendly</ion-select-option>
              <ion-select-option value="s">Shy</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <!--Dropdown for Hobbies-->
        <ion-item>
          <ion-label position="floating">Hobbies</ion-label>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select [value]="selectedHobbies" (ionChange)="limitSelectionOfHobbies($event)" [multiple]="true" aria-label="Trait" interface="popover" placeholder="Select 3 Hobbies">
              <!--NOTE TO SELF: WILL NEED TO SOMEHOW REPLACE OPTIONS BELOW WITH ONES FROM DATABASE-->
              <ion-select-option value="r">Reading</ion-select-option>
              <ion-select-option value="d">Drawing</ion-select-option>
              <ion-select-option value="p">Painting</ion-select-option>
              <ion-select-option value="m">Music</ion-select-option>
              <ion-select-option value="c">Cooking</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <!--Container for bottom buttons -->
        <div class="button-container">
          <ion-button expand="full" (click)="goToApplyForDriverPage()">{{ applyForDriverText }}</ion-button>
          <ion-button expand="full" (click)="goToHomePage()">Finish</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>