

ion-header {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  ion-toolbar {
    position: relative;
    --background: #2582ad; // Set the background color of the toolbar
    --border-color: transparent; // Remove border line
    display: flex; // Enable Flexbox for the toolbar
    justify-content: center; // Horizontally center the content
    text-align: center; // Center-align the text itself, if needed
    padding: 4rem;
    padding-bottom: 3rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.shareway-title{
  white-space: normal; // Allow text to wrap onto the next line
  overflow: visible; // Let the text overflow the container
  text-overflow: clip;
  text-align: center;
  position: relative;
  display: inline;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 2.7rem;
  text-align: center;
  line-height: normal;
  transform: translate(-50%, -50%); // Offset by half the width and height
}


.profile-icon{
  --background: #23a6b470;
  --color: #ffffff;
  border-radius: 2rem;
  position: absolute; // Use absolute positioning within the header
  right: 1rem; // Adjust to suitable value
  top: 1rem; // Adjust to suitable value
  z-index: 100; // Ensure it's above other content
}

.welcome-text,
.instructions-text {
  font-family: "Cabin", sans-serif;
  padding: 16px;
  text-align: center;
  font-size: 20px;
}

.image-container {
  display: flex;
  justify-content: center; // Center the image horizontally
  margin: 20px; // Add some margin around the image
  
  img {
    max-width: 100%;
    height: auto; // Ensure the image is responsive and maintains aspect ratio
  }
}

ion-button {
  margin: 8px; // Add some margin around the buttons
  font-family: "Cabin", sans-serif;
}
