<!--Hamburger Menu-->
<ion-menu side="start" contentId="hamburger-content">
  <ion-header>
    <ion-toolbar color="success">
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>Home</ion-item>
      <ion-item>Log Out</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet id="hamburger-content"></ion-router-outlet>
<ion-router-outlet id="mini-profile-content"></ion-router-outlet>

<div class="intro-header-section">
  <ion-header>
    <ion-toolbar>
      <ion-menu-button class="hamburger-class">
        <ion-icon name="person"></ion-icon>
      </ion-menu-button>
      <ion-menu-button class="mini-profile-class"></ion-menu-button>
      <h1 class="intro-class">Welcome to Shareway</h1>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true" *ngIf="!showInwardRides || !showOutwardRides" class="intro-section">

  <p class="intro-paragraph">Take a ride with another student from or to college. <br> Save money and meet new people!</p>
  <div class="image-container">
    <img src="assets/images/Home_Icon.png">
  </div>
  <footer class="footer-text">
    <a href="https://www.flaticon.com/free-icons/hail" title="hail icons">Hail icons created by Leremy - Flaticon</a>
  </footer>
  <p class="intro-paragraph-2">Use one of the buttons below <br> to find rides to your desired destination.</p>
</ion-content>

<!--Buttons to show rides-->
<div class="button-container">
  <ion-button (click)="showInwardRides = true; showOutwardRides = false;">Inward</ion-button>
  <ion-button (click)="showOutwardRides = true; showInwardRides = false;">Outward</ion-button>
</div>

<!--List of inward rides-->
<div *ngIf="showInwardRides" class="rides-container">
  <ion-grid>
    <ion-row class="header-row">
      <ion-col></ion-col>
      <ion-col>Names</ion-col>
      <ion-col>Coming From</ion-col>
      <ion-col>Available Space</ion-col>
    </ion-row>
    <ion-row *ngFor="let inwardRide of inwardRides" class="underline-ride-class">
      <ion-col><img [src]="inwardRide.image" alt="Ride image" class="ride-image"></ion-col>
      <ion-col>{{ inwardRide.name }}</ion-col>
      <ion-col>{{ inwardRide.from }}</ion-col>
      <ion-col><ion-icon name="person"></ion-icon> {{ inwardRide.availableSpace }}</ion-col>
    </ion-row>
  </ion-grid>
</div>


<!--List of outward rides-->
<div *ngIf="showOutwardRides" class="rides-container">
  <ion-grid>
    <ion-row class="header-row">
      <ion-col></ion-col>
      <ion-col>Names</ion-col>
      <ion-col>Going to</ion-col>
      <ion-col>Available Space</ion-col>
    </ion-row>
    <ion-row *ngFor="let outwardRide of outwardRides" class="underline-ride-class">
      <ion-col><img [src]="outwardRide.image" alt="Ride image" class="ride-image"></ion-col>
      <ion-col>{{ outwardRide.name }}</ion-col>
      <ion-col>{{ outwardRide.from }}</ion-col>
      <ion-col><ion-icon name="person"></ion-icon> {{ outwardRide.availableSpace }}</ion-col>
    </ion-row>
  </ion-grid>
</div>