<div class="ion-page" id="main-content">
  <ion-header>
    <!--Imports for Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Micro+5&display=swap"
      rel="stylesheet">
      <ion-button class="profile-icon" aria-label="Profile">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    <ion-toolbar>
      <ion-label class="shareway-title">
        Welcome to ShareWay
      </ion-label>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="welcome-text">
      Take a ride with another student from or to college. Save money and meet new people!
    </div>

    <div class="image-container">
      <img src="assets/images/Home_Icon.png" />
    </div>

    <div class="instructions-text">
      Use one of the buttons below to find rides to your desired destination.
    </div>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="primary">Inwards</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="secondary">Outwards</ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</div>