<ion-content padding>
  <ion-card class="profile-card">
    <ion-card-content>
      <div class="profile-container">
        <ion-buttons slot="start">
          <ion-back-button class="back-button" defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <img src="assets/images/ShareWay_Logo.png" alt="App Logo" class="app-logo">
        <ion-label class="detailsText">Please enter details</ion-label>
        <!-- Input boxes -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
         
        <!-- Name -->
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>

        
        <!-- DOB -->
        <ion-item>
          <ion-input [clearInput]="true" label="Date" placeholder="Enter Date Of Birth" type="Date"  [(ngModel)]="dob"></ion-input>
        </ion-item>
        
        <!--Gender-->
        <ion-list>
          <ion-item>
            <ion-label position="floating">Gender</ion-label>
            <ion-select [(ngModel)]="gender" interface="popover" placeholder="Select an option">
              <ion-select-option *ngFor="let genderOption of genderOptions" [value]="genderOption">
                {{ genderOption }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list> 
        
        <!--Course Department-->
        <ion-item>
          <ion-label position="floating">Course Department</ion-label>
          <ion-input type="text" [(ngModel)]="courseDepartment"></ion-input>
        </ion-item>

        <!--Dropdown for Personal Traits-->
        <ion-item>
          <ion-label position="floating">Personal Traits</ion-label>
        </ion-item>
        <ion-list>
          <!-- Personal Traits -->
          <ion-item>
            <ion-label position="floating">Personal Traits</ion-label>
            <ion-select (ionChange)="limitSelectionOfTraits($event)" [(ngModel)]="selectedTraits" [multiple]="true" interface="popover" placeholder="Select Traits">
              <ion-select-option *ngFor="let trait of personalTraitsOptions" [value]="trait.value">
                {{ trait.display }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <!--Dropdown for Hobbies-->
        <ion-item>
          <ion-label position="floating">Hobbies</ion-label>
        </ion-item>
        <ion-list>
         <!-- Hobbies -->
          <ion-item>
            <ion-label position="floating">Hobbies</ion-label>
            <ion-select (ionChange)="limitSelectionOfHobbies($event)" [(ngModel)]="selectedHobbies" [multiple]="true" interface="popover" placeholder="Select Hobbies">
              <ion-select-option *ngFor="let hobby of hobbiesOptions" [value]="hobby.value">
                {{ hobby.display }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <!--Container for bottom buttons -->
        <div class="button-container">
          <ion-button expand="full" >Apply for Driver</ion-button>
          <ion-button expand="full" (click)="applyChanges()">Apply Profile Changes</ion-button>
          <ion-button expand="full" (click)="goToChangePasswordPage()">Update Password</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>