<ion-content padding>
  <ion-card class="changePassword-card">
    <ion-card-content>
      <div class="changePassword-container">
        <ion-buttons slot="start">
          <ion-back-button class="back-button" defaultHref="/profile"></ion-back-button>
        </ion-buttons>
        <img src="assets/images/ShareWay_Logo.png" alt="App Logo" class="app-logo">

        <ion-item>
          <ion-label position="floating">Current Password</ion-label>
          <ion-input placeholder="Enter current password" type="password" [(ngModel)]="currentPassword"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input placeholder="Enter new password" type="password" [(ngModel)]="newPassword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm New Password</ion-label>
          <ion-input placeholder="Re-enter new password" type="password" [(ngModel)]="confirmNewPassword"></ion-input>
        </ion-item>
       
        <!--Container for bottom buttons -->
        <div class="button-container">
          <ion-button expand="full" (click)="applyChangeToPassword()">Apply New Password</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>