.status-box {
  color: white;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

ion-progress-bar {
  --background: #f3e895;
  --progress-background: #09c567;
  margin-bottom: 20px;  
}

.active {
  background-color: green;
  margin-bottom: 20px;  
}

.inactive {
  background-color: red;
  margin-bottom: 20px;  
}

.locationOutside{
  margin-bottom: 20px;
}

.createRide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
  .app-logo {
    width: 250px;
    height: 250px;
    margin-bottom: -100px;
  }
  
  .image-item {
    width: 100%;
    overflow: visible;
  }

  .button-class{
    --background: #3bc794; 
    width: 100%; // Make the button wider
    padding: 10px 20px; // Add some padding
    --border-radius: 100px; // Add rounded corners
  }

  .createRide-card {
    width: 70%;  
    height: auto;
    margin: auto; 
  }

  .back-button {
    position: absolute;
    margin-top: 30px;
    margin-bottom: -220px;
    margin-left: -140px;
  }

  .applyDriverBtn{
    margin-top: 20px;
    margin-left: -20px;
  }

  