<ion-content padding>
  <ion-card class="createRide-card">
    <ion-card-content>
      <div class="createRide-container">
        <img src="assets/images/ShareWay_Logo.png" alt="App Logo" class="app-logo">

        <ion-label *ngIf="makeLookingForRiderProgressVisible">Looking For Rider...</ion-label>
        <ion-progress-bar *ngIf="makeLookingForRiderProgressVisible" value=".25" buffer=".5"></ion-progress-bar>
        
        <div class="status-box" *ngIf="makeRideStatusVisible"  [ngClass]="{'active': hasActiveStatus, 'inactive': !hasActiveStatus}">
          Ride Status: <span>{{ hasActiveStatus ? 'Active' : 'Inactive' }}</span>
        </div>        

        <ion-item>
          <ion-label position="floating">Number of Seats</ion-label>
          <ion-input type="number" [disabled]="disableInputButton" [(ngModel)]="numberOfSeats" min="2" max="7" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Direction</ion-label>
          <ion-select [disabled]="disableInputButton" [(ngModel)]="direction">
            <ion-select-option *ngFor="let direction of directions">{{ direction }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Location At College</ion-label>
          <ion-select [disabled]="disableInputButton" [(ngModel)]="locationAtCollege">
            <ion-select-option *ngFor="let locationAtCollege of locationsAtCollege">{{ locationAtCollege }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="locationOutside">
          <ion-label position="floating">Location Outside College</ion-label>
          <ion-input [disabled]="disableInputButton" [(ngModel)]="locationOutsideOfCollege" min="2" max="7" required></ion-input>
        </ion-item>

        <ion-button expand="full" *ngIf="makeCreateRideButtonVisible" (click)="createRide()">Create Ride</ion-button>
        <ion-button expand="full" *ngIf="makeCancelRideButtonVisible" (click)="confirmCompletingRide()">Complete Ride</ion-button>
        <ion-button expand="full" *ngIf="makeLeaveButtonVisible" (click)="confirmLeavePage()">Leave</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
