<ion-content padding>
  <ion-card class="register-card">
    <ion-card-content>
      <div class="register-container">
        <ion-buttons slot="start">
          <ion-back-button class="back-button" defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <img src="assets/images/ShareWay_Logo.png" alt="App Logo" class="app-logo">
        <!-- Input boxes -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Re-enter Password</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
        </ion-item>
        <!-- Register button -->
        <ion-button expand="full" (click)="goToProfileDetails()">Register</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>