<ion-content padding>
  <ion-card class="booking-card">
    <ion-card-content>
      <div class="booking-container">
        <ion-buttons slot="start">
          <ion-back-button class="back-button" defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <img src="assets/images/ShareWay_Logo.png" alt="App Logo" class="app-logo">
          
        <!-- Profile Image -->
        <!-- <img *ngIf="currentUserImage" [src]="currentUserImage" alt="Profile Image" class="profile-image"> -->

        <!-- Name -->
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input [disabled]="disableInputButton" type="text" [(ngModel)]="name"></ion-input>
        </ion-item>

        <!-- DOB -->
        <ion-item>
          <ion-input [disabled]="disableInputButton"  [clearInput]="true" label="Date" placeholder="Enter Date Of Birth" type="Date"  [(ngModel)]="dob"></ion-input>
        </ion-item>
        
        <!--Gender-->
        <ion-list>
          <ion-item [disabled]="disableInputButton" >
            <ion-label position="floating">Gender</ion-label>
            <ion-select [(ngModel)]="gender" interface="popover" placeholder="Select an option">
              <ion-select-option *ngFor="let genderOption of genderOptions" [value]="genderOption">
                {{ genderOption }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list> 
        
        <!--Course Department-->
        <ion-item>
          <ion-label position="floating">Course Department</ion-label>
          <ion-input [disabled]="disableInputButton"  type="text" [(ngModel)]="courseDepartment"></ion-input>
        </ion-item>

        <!--Dropdown for Personal Traits-->
        <ion-item>
          <ion-label position="floating">Personal Traits</ion-label>
        </ion-item>
        <ion-list>
          <!-- Personal Traits -->
          <ion-item [disabled]="disableInputButton" >
            <ion-label position="floating">Personal Traits</ion-label>
            <ion-select (ionChange)="limitSelectionOfTraits($event)" [(ngModel)]="personalTraits" [multiple]="true" interface="popover" placeholder="Select Traits">
              <ion-select-option *ngFor="let trait of personalTraitsOptions" [value]="trait.value">
                {{ trait.display }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <!--Dropdown for Hobbies-->
        <ion-item>
          <ion-label position="floating">Hobbies</ion-label>
        </ion-item>
        <ion-list>
         <!-- Hobbies -->
          <ion-item [disabled]="disableInputButton" >
            <ion-label position="floating">Hobbies</ion-label>
            <ion-select (ionChange)="limitSelectionOfHobbies($event)" [(ngModel)]="personalHobbies" [multiple]="true" interface="popover" placeholder="Select Hobbies">
              <ion-select-option *ngFor="let hobby of hobbiesOptions" [value]="hobby.value">
                {{ hobby.display }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list> 

        <!--List of Rides-->
        <ion-item>
          <ion-label position="floating">Number of Seats</ion-label>
          <ion-input type="number" [disabled]="disableInputButton" [(ngModel)]="numberOfSeats" min="2" max="7" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Direction</ion-label>
          <ion-input [disabled]="disableInputButton" [(ngModel)]="direction"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">LocationAtCollege</ion-label>
          <ion-input [disabled]="disableInputButton" [(ngModel)]="locationAtCollege"></ion-input>
        </ion-item>

        <ion-item class="locationOutside">
          <ion-label position="floating">Location Outside College</ion-label>
          <ion-input [disabled]="disableInputButton" [(ngModel)]="locationOutsideOfCollege"></ion-input>
        </ion-item>

        <!--Container for bottom buttons -->
        <div class="button-container">
          <ion-button expand="full" (click)="applyForRide()">Apply for Ride</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>