<ion-content  class="ion-padding">
  <!-- Profile image and name in one row -->
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-avatar>
          <img src="assets/images/man-glasses.jpg" />
        </ion-avatar>
      </ion-col>
    </ion-row>

    <!-- Available space in another row -->
    <ion-row>
      <ion-col size="12">
        <ion-note>
          Available Space <ion-icon name="people"></ion-icon> 2/3
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Booking button -->
  <ion-button id="apply-booking-button"  (click)="presentAlert()" expand="block" color="primary">
    Apply for Booking
  </ion-button>

  <ion-list  class="ion-margin">
    <!-- Name Field -->
    <ion-item lines="none">
      <ion-label position="stacked">Name</ion-label>
      <ion-input value="Johnny Ramsy" readonly></ion-input>
    </ion-item>

    <!-- DOB Field -->
    <ion-item lines="none">
      <ion-label position="stacked">DOB</ion-label>
      <ion-input value="October 13th 2000" readonly></ion-input>
    </ion-item>

    <!-- Email Field -->
    <ion-item lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input value="johnnyramsy@gmail.com" readonly></ion-input>
    </ion-item>

    <!-- Gender Field -->
    <ion-item lines="none">
      <ion-label position="stacked">Gender</ion-label>
      <ion-input value="Male" readonly></ion-input>
    </ion-item>

    <!-- Course Department Field -->
    <ion-item lines="none">
      <ion-label position="stacked">Course Department</ion-label>
      <ion-input value="Biology" readonly></ion-input>
    </ion-item>

    <!-- Personal Traits Field -->
    <ion-item lines="none" class="custom-item-divider">
      <ion-label position="stacked">Personal Traits</ion-label>
      <ion-input value="Empathetic, Sociable, Witty" readonly></ion-input>
    </ion-item>

    <!-- Hobbies Field -->
    <ion-item lines="none" class="custom-item-divider">
      <ion-label position="stacked">Hobbies</ion-label>
      <ion-input value="Cooking, Meditation, Playing Games" readonly></ion-input>
    </ion-item>

    <!-- Driver Details Placeholder -->
    <ion-item lines="none" class="custom-item-divider">
      <ion-label position="stacked">Driver Details</ion-label>
    </ion-item>
  </ion-list>

</ion-content>